.Carousel{
		width: 100%;
		height: 444px;
		background: #ccc;
		position: relative;
		cursor: pointer;
		}
		.Carousel-img{
			width: 100%;
			height: 444px;
		}
		.Carousel-img img{
			position: absolute;
			top: 0;
			left: 0;
		}
		.Pointer-left{
			width: 50px;
			height: 50px;
			line-height: 50px;
			position: absolute;
			top: 200px;
			left: 20px;
			background: #ccc;
			opacity: 0.5;
			text-align: center;
			border-radius: 50px;
			font-size: 30px;
		}
		.Pointer-right{
			width: 50px;
			height: 50px;
			line-height: 50px;
			position: absolute;
			top: 200px;
			right: 20px;
			font-size: 30px;
			background: #ccc;
			opacity: 0.5;
			text-align: center;
			border-radius: 50px;
		}
		.Carousel-dot ul{
			width: 110px;
			height: 12px;
			position: absolute;
			bottom: 25px;
			left: 45%;
		}
		.Carousel-dot li{
			width: 12px;
			height: 12px;
			border-radius:6px;         
			float: left;
			list-style: none;
			margin-right: 15px; 
			background: #fff;
		}