.title1 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777777;
}

.title2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777777;
}

.title3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777777;
}

.title4 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777777;
}

.title1 .title-header {
  margin-bottom: 20px;
}

.title3 .title-nav .col-md-2 {
  color: #337ab7;
}

.title3-span {
  width: 4px;
  height: 20px;
  background: #48bafa;
  position: absolute;
  top: 10px;
}

.title3 ul {
  margin-left: 55px;
}

.title3 ul li {
  padding: 10px;
}

.title3 ul .col-md-5,
.title3 ul .col-md-1 {
  height: 30px;
  line-height: 30px;
}

.title3 ul li span {
  display: block;
  margin-right: 50px;
  float: right;
}

.title3 ul li {
  list-style-type: circle;
}

.title3 ul a {
  color: #444;
}

.title3 ul a:hover {
  color: #999;
  text-decoration: none;
}

.teacher-header {
  padding-top: 10px;
  background: #f5f8fa;
  margin: 0;
}

.teacher-img {
  border: solid 3px #ccc;
  overflow: hidden;
  width: 100px;
  border-radius: 100px;
  height: 100px;
  margin: 10px auto;
}

.teacher-img img {
  height: 100%;
  width: 100%;
}

.teacher-content {
  height: 60px;
  width: 100px;
  margin: 0 auto;
}

.teacher-content p {
  color: #cacbcc;
}

.title4 .title-header {
  margin-bottom: 20px;
}

.title4 .caption {
  height: 74px;
  line-height: 50px;
  color: #444;
  text-align: center;
}

.title4 .caption button {
  margin: 0 10px;
}
