html,
body,
form,
input,
span,
p,
img,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #8f0002;
}

a:hover {
  color: #91593c;
}

body {
  font-family: 微软雅黑;
  background: url('../../images/bg.jpg');
}

.Navbar {
  border: 0;
  width: 100%;
  height: 60px;
  background: url('../../images/bg-0051.gif');
}

.logo {
  width: 100px;
  height: 60px;
  float: left;
  line-height: 60px;
  font-size: 0;
}

.Navbar-ul1 {
  width: 600px;
  height: 60px;
  float: left;
  list-style-type: none;
}

.Navbar-ul1 .col-md-2>a {
  color: #fafafa;
}

.Navbar-ul1>li {
  height: 60px;
  float: left;
  line-height: 60px;
  font-size: 16px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}

.Navbar-ul2 {
  width: 300px;
  height: 60px;
  float: right;
  list-style-type: none;
  position: relative;
}

.Navbar-ul2 .col-md-6 input {
  position: absolute;
  width: 100px;
  top: 20px;
  right: 35px;
  border-radius: 30px;
}

.form-control-feedback {
  width: 100px;
  margin: 20px 0;
}

.Navbar-ul2 li {
  line-height: 60px;
  font-size: 16px;
}

.Navbar-ul2 .col-md-2 {
  padding: 0px;
}

.title-line {
  height: 35px;
  border-bottom: solid 1px #ddd;
}

.title-content span {
  margin-top: 10px;
  margin-right: 10px;
  color: #aaa;
  line-height: 14px;
}

.content-price {
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: #d39f33!important;
}

.title-nav {
  position: relative;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 40px;
}

.title-nav .col-md-1 {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
}

.active {
  border-radius: 10px;
  background: #4ABBFA;
  color: #fff;
}

.thumbnail {
  position: relative;
  bottom: 0px;
  box-shadow: 0px 7px 8px 3px rgba(200, 200, 200, 0);
  transition: box-shadow 500ms, bottom 500ms;
  -moz-transition: box-shadow 500ms, bottom 500ms;
  /* Firefox 4 */
  -webkit-transition: box-shadow 500ms, bottom 500ms;
  /* Safari and Chrome */
  -o-transition: box-shadow 500ms, bottom 500ms;
  /* Opera */
}

.thumbnail:hover {
  box-shadow: 0px 7px 8px 3px rgba(200, 200, 200, 0.7);
  bottom: 10px;
}

.breadcrumb {
  background: #fff;
  margin-top: 30px;
  padding: 0;
  padding-left: 23px;
  background: url('../../images/导航_首页.png') no-repeat;
  background-size: 18px 18px;
}

h3.page-header {
  margin-top: 10px;
}

.footer {
  width: 100%;
  background: #ccc;
}

.footer-bottom {
  width: 100%;
  height: 90px;
  background: #212121;
  padding: 10px;
}

.footer-bottom p {
  margin-bottom: 0;
  text-align: center;
  color: #D7D7D7;
}

.footer-bottom p:last-child {
  color: #666;
}

#moquu_top,
#moquu_wxin,
#moquu_wshare {
  z-index: 2;
  width: 40px;
  height: 40px;
  right: 10px;
  position: fixed;
  cursor: pointer;
  _position: absolute;
  _bottom: auto;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))
}

#moquu_wxin {
  bottom: 140px;
  right: 10px;
}

#moquu_wxin a {
  background: url(../../images/sbtn.png) 0 0px;
  right: 0;
  float: left;
  width: 40px;
  height: 40px;
  text-indent: -9999px
}

#moquu_wxin a:hover {
  background: url(../../images/sbtn.png) -40px -0px
}

#moquu_wshare {
  bottom: 100px;
  right: 10px;
}

#moquu_wshare a {
  background: url(../../images/sbtn.png) 0 -40px;
  width: 40px;
  height: 40px;
  right: 0;
  float: left;
  text-indent: -9999px
}

#moquu_wshare a:hover {
  background: url(../../images/sbtn.png) -40px -40px
}

.moquu_wxin,
.moquu_wshare {
  position: relative;
  z-index: 2
}

.moquu_wxin a:hover .moquu_wxinh,
.moquu_wshare a:hover .moquu_wshareh {
  display: block
}

.moquu_wxin .moquu_wxinh {
  position: absolute;
  display: none;
  right: 40px;
  bottom: 0px;
  width: 93px;
  height: 40px;
  background: url(../../images/fankui.png) 0 0 no-repeat #ff6060;
  color: #FFF;
  border-radius: 4px 0 0 4px;
}

.moquu_wshare .moquu_wshareh {
  position: absolute;
  display: none;
  right: 44px;
  bottom: -85px;
  width: 200px;
  height: 260px;
  background: url(../../images/weixin.jpg) no-repeat;
  background-size: 100% 100%;
}

#topcontrol {
  background: #4c4c4c;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
